body {
  background-color: black;
  font-family: Arial;
}

.calculator-monitor {
  width: 270px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 5px;
}

.character {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 5px;
}

.gray-button {
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-button {
  background-color: rgb(254, 160, 10);
  color: white;
}
